.Map {
  text-align: center;
  right: 0;
}

.leaflet-container {
  width: 100wh; 
  height: 90vh;
}

#sidebar {
  float: right;
  height: 100%;
  max-width: 100%;
  width: 150px;
}

.sidebar-wrapper {
  padding-left: 15px;
}

.Map-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Map-logo {
    animation: Map-logo-spin infinite 20s linear;
  }
}

.Map-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Map-link {
  color: #61dafb;
}

@keyframes Map-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
